.hero{
    padding-bottom: 50px;
    border-bottom: 0.5px solid #E9E9E9 ;

    &-title{
        margin-top: 80px;
        margin-bottom: 0;
        font-family: var(--font-title);
        font-size: 160px;
        font-weight: 400;
        line-height: 90%;
        letter-spacing: -4.25%;
        text-align: center;
    }

    &-img{
        margin-top: 99px;
    }

    &-subtitle{
        margin-top: 50px;
        margin-bottom: 0;
        font-family: var(--font-fam);
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: -0.5%;
        color: #6F6F6F;
    }

    &-swiper{
        margin-top: 30px;
        position: relative;
        align-self: center;
        display: flex;
        height: 84px;
        gap: 40px;
        padding: 0 40px;
        &-img{
            height: 84px;
        }
    }
}